<mat-card class="product-card" appearance="outlined">
    <img [draggable]="false" aria-hidden="true" mat-card-image [src]="product.imageUrl" alt="תצומה של {{product.name}}">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle><span>{{ product.subtitle + ', ' }}</span> <span>{{ product.weight + ' גרם' }}</span></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{ product.description }}</p>
    </mat-card-content>
    <mat-card-footer>
        <mat-chip-set aria-label="רשימת רכיבים">
            <mat-chip *ngFor="let item of product.ingredients">
                <span class="chip-text">{{ item.ingredient.name }}</span>
                <span aria-hidden="true">{{ item.ingredient.icon }}</span>
            </mat-chip>
        </mat-chip-set>
    </mat-card-footer>
    <mat-card-actions>
        <ng-container *ngIf="isNotInCartTemplate">
            <ng-container *ngTemplateOutlet="not_in_cart_template" />
        </ng-container>
        <ng-container *ngIf="isInCartTemplate">
            <ng-container *ngTemplateOutlet="in_cart_template" />
        </ng-container>
    </mat-card-actions>
</mat-card>

<ng-template #not_in_cart_template>
    <button class="add-to-cart-button" [attr.aria-label]="buttonLabel" mat-fab extended (click)="addToCart()">
        <span>הוסף לסל</span>
        <span aria-hidden="true" [class.line-through]="product.newPrice">₪{{ product.price }}</span>
        <span aria-hidden="true" *ngIf="product.newPrice">₪{{ product.newPrice }}</span>
    </button>
</ng-template>

<ng-template #in_cart_template>
    <div [@minWidthExpand] (@minWidthExpand.done)="removeFromCart()" class="in-cart-wrapper">
        <button mat-fab (click)="increaseAmount()" aria-label="הוסף יותר לסל">
            <span aria-hidden="true" class="material-symbols-outlined">add_circle</span>
        </button>
        <button [@buttonRadius]="buttonRadiusState" [attr.aria-label]="amount + ' פריטים מסוג זה בסל'" mat-fab>
            <span aria-hidden="true">{{ amount }}</span>
        </button>
        <button mat-fab (click)="decreaseAmount()" aria-label="החסר פחות מהסל">
            <span aria-hidden="true" class="material-symbols-outlined">do_not_disturb_on</span>
        </button>
    </div>
</ng-template>