<nav aria-label="שורת פעולות">
    <jls-menu-button [navItem]="cartItem" [badge]="cartBadge()" />
    <div class="category-buttons">
        @for (item of categoriesItems; track item) {
            <jls-menu-button class="dynamic" [navItem]="item" />
        }
    </div>
    <button class="logo-button" (click)="goHome()" aria-label="כפתור מעבר לאמוד ראשי">
        <img priority draggable="false" class="logo" ngSrc="/assets/logo.svg" alt="Jellicious logo" height="50" width="190">
    </button>
</nav>