host {
  display: contents;
}

nav {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-block: 1em;
  background-color: var(--mat-sys-on-tertiary-fixed);

  button[mat-button] {
    margin-inline: 1em;
    overflow: hidden;
    justify-content: flex-start;

    .button-text {
      display: flex;
      align-items: center;
    }

    &:hover, &:focus-visible {
      span:not(.material-symbols-outlined) {
        width: 100%;
      }
    }

    .material-symbols-outlined {
      font-size: 2em;
    }

    span:not(.material-symbols-outlined) {
      display: inline-block;
      overflow: hidden;
      width: 0;
      transition: width 150ms ease-in-out;
    }
  }
}