:host {
    position: sticky;
    top: 0;
    z-index: 10;
}

nav {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-block: 1em;
    background-color: var(--mat-sys-on-tertiary-fixed);

    mat-toolbar {
        background-color: transparent;
        justify-content: space-between;
    }

    .logo-button {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }

    .logo {
        filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.4));
    }
}