:host {
    position: sticky;
    top: 0;
    z-index: 10;
}

nav {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-block: 1em;
    background-color: var(--mat-sys-on-tertiary-fixed);

    mat-toolbar {
        background-color: transparent;
    }

    button[mat-button] {
        margin-inline: 1em;
        overflow: hidden;
        justify-content: flex-start;

        .button-text {
            display: flex;
            align-items: center;

            > span:first-child {
                margin-inline-start: 0.1em;
            }
        }

        .material-symbols-outlined {
            font-size: 2em;
        }
    }
}