:host {
    min-height: 3rem;
    background-color: hsl(from var(--background-surface) h s l / .8);
    backdrop-filter: blur(10px);
    font-size: 1.15rem;

    ul {
        list-style: none;
        display: flex;
        gap: 2rem;
    }
}