section {
    height: 100svh;

    img {
        border-radius: 10px;
        overflow: hidden;
    }

    button[mat-mini-fab] {
        width: 6rem;
        font-size: 1rem;
        font-weight: bold;
    }

    table {
        user-select: none;

        tr[mat-header-row] {
            background-color: var(--mat-sys-on-primary-fixed);
        }

        tr[mat-row] {
            color: var(--mat-sys-primary);
            transition: background-color 150ms ease-in-out;

            &.active {
                background-color: var(--mat-sys-on-tertiary-fixed);
            }

            div.product-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-block: 1rem;
            }

            div.amount-container {
                display: flex;
                align-items: center;

                > span {
                    margin-inline: 0.5rem;
                }
            }
        }

        .footer-row {
            background-color: var(--mat-sys-primary-container);
            font-weight: bold;
        }

        @media screen and (max-width: 480px) {
            tr {
                td:nth-child(2), th:nth-child(2) {
                    padding: 0;
                }
            }
        }
    }

}