<section>
    <h1>הצהרת נגישות</h1>

    <ol>
        @for (item of statements; track item) {
            <li>
                <h4>{{ item.title }}</h4>
                <ul>
                    @for (line of item.content; track line) {
                        <li><p>{{ line }}</p></li>
                    }
                </ul>
            </li>
        }
        <li>
            <h4>משוב ושיפורים</h4>
            <ul>
                <li>במידה וזיהית בעיות נגישות או שיש לך הצעות לשיפור, נשמח לשמוע ממך:</li>
                <li>
                    <span style="margin-left: 1rem"> דוא״ל:</span>
                    <span style="user-select: all">
                        <a href="mailto:{{contacts.email}}">{{ contacts.email }}</a>
                    </span>
                </li>
                <li>
                    <span style="margin-left: 1rem">ווטסאפ:</span>
                    <span style="user-select: all">
                        <a href="tel:{{contacts.tel}}">{{ contacts.tel }}</a>
                    </span>
                </li>
            </ul>
        </li>
    </ol>
</section>
