:host {
    margin: 3rem 1rem 1rem 1rem;

    main {
        display: grid;
        overflow-x: hidden;
        overflow-y: auto;
        gap: 4rem 6rem;
        grid-template-columns: repeat(auto-fill, minmax(300px, 500px));
        justify-content: center;
    }
}