:host {
    display: flex;
    justify-content: center;

    main {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        margin-inline: 2rem;
        max-width: 1350px;
    }
}

