html, body {
  margin: 0;
  height: 100%;
  direction: rtl;
  scroll-behavior: smooth;
}

body {
  //overflow-y: auto;
  //overflow-x: hidden;
  //scrollbar-gutter: stable;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

router-outlet {
  display: contents;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.cdk-global-scrollblock {
  scrollbar-gutter: stable;
}